.z-index-high {
  z-index: 2;
  background-color: green;
  width: 20rem;
  height: 20rem;
}

.z-index-low {
  z-index: 1;
  background-color: blue;
}

body {
  overscroll-behavior: none;
  overflow-y: hidden;
  touch-action: none;
}

/* body {
  background-color: orange;
} */
